/* =============
    Base
============= */
figure{
    padding: 0;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}


.hide{
    display: none;
}

#activateButton{
    cursor: pointer;
    
}

#activateButton:hover{
    #ACTIVATE{
        fill: #D1CFCD;
    }

    #actView{
        fill: #D92121;
    }
  }
    


