#svg-container {
	background-color: black;
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". svg-container .";
	height: 100vh;

	@include md{
		grid-template-columns: auto 70% auto;
	}

	@include lg{
		grid-template-columns: auto 60% auto;
	}

	@include xl{
		grid-template-columns: auto 50% auto;
	}
	>div {
		display: flex;
		align-items: center;
		grid-area: svg-container;

		#svg-content{
			position: relative;
			width: 100%;

			svg{
				width: 100%;
			}

			#speed{
				position: absolute;
				top:30%;
				left:54%;

				@include sm{
					top:30.5%;
					left:53.7%;
				}


				@include md{
					top:30.5%;
					left:53.7%;
				}

				@include lg{
					top:30%;
					left:53.7%;
				}
				
				@include xl{
					top:30%;
					left:53.7%;
				}
				
			}
		}
	}
}
